#comments {

}

#comments table .select {
    width: 24px;
}

#comments table .author {
    width: 220px;
}

#comments table .author img {
    float: left;
    margin: 0 12px 0 0;
}

#comments table .author p span {
    font-size: 1em;
}

#comments table .author span {
    font-size: 0.85em;
    width: 160px;
    display: block;
}

#comments table .date {
    width: 150px;
}

#comments table .status {
    width: 80px;
}

#comments table .actions {
    width: 120px;
}

#comments .controls .btn-group {
    margin: 6px 0 0;
}

#comments .btn-small [class^="icon-"],
#comments .btn-small [class*=" icon-"] {
    margin-top: 1px;
}

#comments .navbar .checkbox {
    margin-top: 10px;
    width: 72px;
}

#comments .navbar .btn-group {
    margin-top: 7px;
}

#comments .truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}